.modalContainer {
  position: fixed;
  z-index: 2;
  left: 35%;
  top: 5%;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: auto;
  padding: 25px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 3px 6px #888888;



}
.dimmerBg {
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  background-color: Grey;
  opacity: 60%;
  width: 100%;
  height: 100%;

}

/* .subModalContainer {
  position: fixed;
  z-index: 1;
  left: 45%;
  bottom: 45%;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  padding: 25px;
  border: 1px solid #888;
  width: 30%;
  z-index: 1;
  box-shadow: 3px 6px #888888;
  height: auto;



} */

.characteristicsForm {
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photoThumbnail {
  width: 60px;
  height: 60px;

}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: dashed 2pt grey;
  background-color: white;
  border-radius: 10px;
  font-size: 40px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;



}

.imageBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}


.imageEntryContainer {
  overflow: visible;
  /* border: solid 1pt grey; */
  position: relative;
  border: solid 1pt grey;
  border-radius: 10px;
  padding-right: 10px;
  box-shadow: 2px 3px #888888;
}

.removeBtn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1.5pt darkblue;
  background-color: white;
  border-radius: 30px;
  color: darkblue;
  position: absolute;
  z-index: 2;
  right: -8px;
  top: -8px;
  font-size: 15px;


}

.removeBtn:hover {
  color: red;
  border: solid 1pt red;
  cursor: pointer;
}

.removeBtn2 {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3pt grey;
  background-color: white;
  border-radius: 30px;
  color: grey;
  font-size: 25px;
  font-weight: bolder;
  position: absolute;
  z-index: 2;
  right: -10px;
  top: -10px;


}

.removeBtn2:hover {
  color: red;
  border: solid 3pt red;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}