@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700;900&display=swap');

.modalContainer {
  position: fixed;
  z-index: 2;
  left: 35%;
  top: 1%;
  background-color: lightsteelblue;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid #888;
  width: 40%;
  height: 900px;
  box-shadow: 3px 6px #888888;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

.modalContainer h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
}

.modalContainer li {
  text-align: left;
  position: relative;

  left: 40%;

}


.dimmerBg {
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  background-color: Grey;
  opacity: 60%;
  width: 100%;
  height: 100%;

}

/* .subModalContainer {
  position: fixed;
  z-index: 1;
  left: 45%;
  bottom: 45%;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  padding: 25px;
  border: 1px solid #888;
  width: 30%;
  z-index: 1;
  box-shadow: 3px 6px #888888;
  height: auto;



} */

.characteristicsForm {
  position: relative;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photoThumbnail {
  width: 60px;
  height: 60px;

}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: dashed 2pt grey;
  background-color: white;
  border-radius: 10px;
  font-size: 40px;
  color: grey;
  font-family: Arial, sans-serif;
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 48%;




}

.imageBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20%;
  gap: 20px;
}


.imageEntryContainer {
  overflow: visible;
  /* border: solid 1pt grey; */
  position: relative;
  border: solid 1pt grey;
  border-radius: 10px;
  padding-right: 10px;
  box-shadow: 2px 3px #888888;
}

.removeBtn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1.5pt darkblue;
  background-color: white;
  border-radius: 30px;
  color: darkblue;
  position: absolute;
  z-index: 2;
  right: -8px;
  top: -8px;
  font-size: 15px;


}

.removeBtn:hover {
  color: red;
  border: solid 1pt red;
  cursor: pointer;
}

.removeBtn2 {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3pt grey;
  background-color: white;
  border-radius: 30px;
  color: grey;
  font-size: 25px;
  font-weight: bolder;
  position: absolute;
  z-index: 2;
  right: -10px;
  top: -10px;


}

.removeBtn2:hover {
  color: red;
  border: solid 3pt red;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}

.errMsg {
  color: red;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.ModalScroller {
  height:800px;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  background-color: #ffffff;
  overflow-y:scroll;
  overflow-x:hidden;
  display: inline-flexbox;

}