@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700;900&display=swap');

.mainContainer {
  font-family: 'Roboto', sans-serif;





}

 .container {

  height: 15px;
  width: 250px;
  background-color: lightgrey;
  margin: 10px;


}

 .filler {
  height: 100%;
  background-color: #125C13;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: right;
  color: white;

}



.box:hover {
  background-color: cyan;

}

.box {
  display: flex;
  flex-direction: row;
  align-items:baseline;

}

.box2 {
  display: flex;
  flex-direction: row;
  align-items: center;

}
 .barsBox {
  padding-right: 30px;
 }

 .filterMsg {
  font-family: Arial, sans-serif;
 }