.reviewEntryContainer {
  background-color: lightcyan;
  padding-bottom: 15px;
  padding-left: 15px;
<<<<<<< HEAD
  width: 100%;
=======
  width: auto;
>>>>>>> d924a0e42b0fb11605a509a96409311b7d86d185
  height: auto;

  color:blue;
}

.usernameTimestamp {
  float:right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
}

.sellerResponse {
  background-color: whitesmoke;
  color: grey ;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.recommendation {
  font-size: 12px;
  color: grey;
  padding-bottom: 15px;
}

.reviewPhotos {
  border-radius: 10px;
  height: 200px;
  width: 160px;
  margin-left: 15px;
  margin-right: 15px;
}

.containerdiv {
  border: 0;
  float: left;
  position: relative;
  width: 100px;
}
.cornerimage {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
 }

