.reviewEntryContainer {
  background-color: #F4F4F2;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 100%;
  height: auto;

  color:#4B6587;

}

.usernameTimestamp {
  float:right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  margin-right: 50px;
}

.sellerResponse {
  background-color: whitesmoke;
  color: grey ;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.recommendation {
  font-size: 12px;
  color: grey;
  padding-bottom: 15px;
}

.box {
  display: flex;
  flex-direction: row;
  width: 100%
}

.reviewPhotos {
  border-radius: 10px;
  height: 100px;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
}

.photoModal {
  position: fixed;
  z-index: 1;
  left: 10%;
  bottom: 5%;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: auto;
  padding: 25px;
  z-index: 1;
  box-shadow: 3px 6px #888888;
  height: auto;
}

.photoModalScroller {
  height:1000px;
  width: auto;
  background-color: #ffffff;
  padding: 5px, 5px, 5px;
  overflow-y:scroll;
  overflow-x:hidden;
  display: inline-flexbox;
}

.containerdiv {
  border: 0;
  float: left;
  position: relative;
  width: 100px;
}
.cornerimage {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
 }

