.modal {
  position: fixed;
  z-index: 1;
  left: 45%;
  top: 20%;
  background-color: azure;
  border-radius: 5px;
  margin: auto;
  padding: 25px;
  border: 1px solid cyan;
  width: auto;
  box-shadow: 3px 3px gray;
}

.modalUpload {
  position: fixed;
  z-index: 1;
  left: 45%;
  bottom: 2%;
  background-color: azure;
  border-radius: 5px;
  margin: auto;
  padding: 25px;
  border: 1px solid cyan;
  width: auto;
  box-shadow: 3px 3px gray;
}

.thumbnail {
  width: 60px;
  height: 60px;
}