.modalContainer {
  position: fixed;
  z-index: 1;
  left: 45%;
  top: 20%;
  background-color: azure;
  border-radius: 5px;
  margin: auto;
  padding: 25px;
  border: 1px solid cyan;
  width: 30%;
  z-index: 1;
  box-shadow: 3px 6px gray;
}