.question {
  white-space: nowrap;
}

.questionsAndAnswers {
  flex-direction: column;
}

.questionHelpAdd {
  display: inline;
  text-align: right;
  height: 3px;
}

.voteAdd {
  display: inline;
  text-align: right;
  font-weight: normal;
  height: 3px;
}