.sizeQty {
  display: flex;
}

.selectSize {
  display: block;
  height: 70px;
  width: 300px;
  padding: 10px;
  font-size: medium;
  margin-right: 25px;
  font-family: 'Roboto', sans-serif;
}

.selectQty {
  display: block;
  height: 70px;
  width: 130px;
  padding: 10px;
  font-size: medium;
  font-family: 'Roboto', sans-serif;
}