.imageGallery {
  display: flex;
  flex-direction: row;
}

.thumbnailList {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.thumbnail img {
  object-fit: cover;
  width: 90px;
  height: 90px;
  border: 1px solid black;
  margin-bottom: 20px;
  margin-right: 20px;
}

.mainImageFit {
  height: 900px;
  width: 668px;
  object-fit: cover;
}