.mainImage {
 width: 1000px;
 height: 900px;
 z-index: 100;
 justify-content: center;
}

.mainImageContainer {
  display: flex;
  background-color: rgb(220, 220, 220);
}

.imageControlLeft {
  padding-top: 425px;
  padding-bottom: 425px;
  padding-left: 20px;
  width: 121px;
  text-align: center;
  font-size: xx-large;
  background-color: rgb(220, 220, 220);
}

.imageControlRight {
  padding-top: 425px;
  padding-bottom: 425px;
  padding-right: 20px;
  width: 121px;
  text-align: center;
  font-size: xx-large;
  background-color: rgb(220, 220, 220);
}

.currentImage {
  border: solid 25px rgb(220, 220, 220);
  height: 850px;
  object-fit: cover;
  transition: 0.25s ease-in-out all;
}