.mainImage {
 width: 1000px;
 height: 900px;
 z-index: 100;
 justify-content: center;
}

.mainImageContainer {
  display: flex;
  background-color: rgb(220, 220, 220);
  transition: 0.25s ease-in-out all;
}

.imageControlContainer {
  padding-top: 420px;
  padding-bottom: 420px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: rgb(220, 220, 220);
}

.imageControl {
  text-align: center;
  font-size: 3em
}

.currentImageContainer {
  border-top: solid 25px rgb(220, 220, 220);;
  border-bottom: solid 25px rgb(220, 220, 220);;
  height: 850px;
  object-fit: cover;
}

.currentImage {
  height: 850px;
  object-fit: cover;
  transition: 0.25s ease-in-out all;
}