.productInformation {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}

.productInfoLeft {
  border-right: 1px solid black;
  width: 870px;
  padding-right: 20px;
}

.productInfoRight {
  text-align: left;
  width: 480px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

ul li:before {
  content: '✓';
}

li span {
  position: relative;
  left: 10px;
}