.styleSelector {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.reviewCount {
  font-size: 1em;
  margin-left: 10px;
}

html {
  scroll-behavior: smooth;
}

.category {
  font-size: 1.5em;
}

.productName {
  font-size: 3em;
}

.price {
  font-size: 1.2em;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.original {
  margin-right: 5px;
  text-decoration: line-through;
  color: red;
}

.style {
  font-size: 1.5em;
}

.styleRow {
  display: flex;
}

.styleIcon {
  position: relative;
  width: 110px;
  height: 110px;
}

.styleIcon img {
  margin: 10px;
  object-fit: cover;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid black;
}

.checkMark {
  position: absolute;
  top: 11px;
  right: 9px;
  display: block;
  height: 21px;
  width: 21px;
  line-height: 23px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
}

.bagOutfit {
  margin-top: 20px;
  display: flex;
}

.addToBag {
  width: 350px;
  display: flex;
  border: 1px solid black;
  margin-right: 25px;
}

.bag {
  text-align: left;
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 300px;
  font-size: medium;
}

.plus {
  padding: 25px;
  font-size: medium;
}

.outfit {
  display: block;
  height: 33px;
  width: 75px;
  padding-top: 19px;
  padding-bottom: 19px;
  border: 1px solid black;
  font-size: x-large;
  text-align: center;
}
