

card-body {
 font-family: sans-serif;
 margin: 2rem;
}

.card-deck {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
 gap: 2rem;
 justify-content: center;
}


.card {
  overflow: hidden;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card-sale-price {
  color: red
}

.card-original-price {
  color: black;
  text-decoration: line-through;
}



